Trunk_4/BonosSis/BonosSisLib/Web References/CostCarrierWS/costcarriersws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearPortadorCoste">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ccmetadata" type="tns:CCMetadata" />
            <s:element minOccurs="0" maxOccurs="1" name="empresasProductivas" type="tns:ArrayOfCCProductionPlant" />
            <s:element minOccurs="0" maxOccurs="1" name="ccMetadaYear" type="tns:CCMetadataYear" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CCMetadata">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Empresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Planta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPortador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoPlanta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DenomAmpliada" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaIni" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Negocio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Responsable" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdResponsableSAB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaEstimIni" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NumAnyosSerie" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Producto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdProyecto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Proyecto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoProyecto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoActivo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoActivo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Propiedad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lantegi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BudgetCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescBudgetCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CantidadSolicitada" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpresaProductiva" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Denominacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCCProductionPlant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CCProductionPlant" nillable="true" type="tns:CCProductionPlant" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CCProductionPlant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Empresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Planta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPortador" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPlantaSAB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionPlanta" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CCMetadataYear">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Empresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Planta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Anyo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPortador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMoneda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Moneda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PresupBonosPersona" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PresupFacturas" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PresupViajes" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ImporteVentaCliente" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="CrearPortadorCosteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CrearPortadorCosteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActulizarMetadataYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ccMetadaYear" type="tns:CCMetadataYear" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActulizarMetadataYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActulizarMetadataYearResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarResponsable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idSabResponsable" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="portadorCoste" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarResponsableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarResponsableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CrearPortadorCosteSoapIn">
    <wsdl:part name="parameters" element="tns:CrearPortadorCoste" />
  </wsdl:message>
  <wsdl:message name="CrearPortadorCosteSoapOut">
    <wsdl:part name="parameters" element="tns:CrearPortadorCosteResponse" />
  </wsdl:message>
  <wsdl:message name="ActulizarMetadataYearSoapIn">
    <wsdl:part name="parameters" element="tns:ActulizarMetadataYear" />
  </wsdl:message>
  <wsdl:message name="ActulizarMetadataYearSoapOut">
    <wsdl:part name="parameters" element="tns:ActulizarMetadataYearResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarResponsableSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarResponsable" />
  </wsdl:message>
  <wsdl:message name="ActualizarResponsableSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarResponsableResponse" />
  </wsdl:message>
  <wsdl:portType name="CostCarriersWSSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearPortadorCoste">
      <wsdl:input message="tns:CrearPortadorCosteSoapIn" />
      <wsdl:output message="tns:CrearPortadorCosteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActulizarMetadataYear">
      <wsdl:input message="tns:ActulizarMetadataYearSoapIn" />
      <wsdl:output message="tns:ActulizarMetadataYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarResponsable">
      <wsdl:input message="tns:ActualizarResponsableSoapIn" />
      <wsdl:output message="tns:ActualizarResponsableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CostCarriersWSSoap" type="tns:CostCarriersWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearPortadorCoste">
      <soap:operation soapAction="http://tempuri.org/CrearPortadorCoste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActulizarMetadataYear">
      <soap:operation soapAction="http://tempuri.org/ActulizarMetadataYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarResponsable">
      <soap:operation soapAction="http://tempuri.org/ActualizarResponsable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CostCarriersWSSoap12" type="tns:CostCarriersWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearPortadorCoste">
      <soap12:operation soapAction="http://tempuri.org/CrearPortadorCoste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActulizarMetadataYear">
      <soap12:operation soapAction="http://tempuri.org/ActulizarMetadataYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarResponsable">
      <soap12:operation soapAction="http://tempuri.org/ActualizarResponsable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CostCarriersWS">
    <wsdl:port name="CostCarriersWSSoap" binding="tns:CostCarriersWSSoap">
      <soap:address location="https://intranet2.batz.es/CostCarriers/webservice/costcarriersws.asmx" />
    </wsdl:port>
    <wsdl:port name="CostCarriersWSSoap12" binding="tns:CostCarriersWSSoap12">
      <soap12:address location="https://intranet2.batz.es/CostCarriers/webservice/costcarriersws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>