Trunk_4/CostCarriers/Web/Web References/ServicioSoliciudesCompra/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://intranet2.batz.es/SolicitudesCompra" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://intranet2.batz.es/SolicitudesCompra" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://intranet2.batz.es/SolicitudesCompra">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarPortadorCoste">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idResponsable" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="portadorCoste" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarPortadorCosteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarPortadorCosteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambioResponsable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idNuevoResponsable" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="portadorCoste" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambioResponsableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CambioResponsableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarPortadorCosteSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarPortadorCoste" />
  </wsdl:message>
  <wsdl:message name="GuardarPortadorCosteSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarPortadorCosteResponse" />
  </wsdl:message>
  <wsdl:message name="CambioResponsableSoapIn">
    <wsdl:part name="parameters" element="tns:CambioResponsable" />
  </wsdl:message>
  <wsdl:message name="CambioResponsableSoapOut">
    <wsdl:part name="parameters" element="tns:CambioResponsableResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarPortadorCoste">
      <wsdl:input message="tns:GuardarPortadorCosteSoapIn" />
      <wsdl:output message="tns:GuardarPortadorCosteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambioResponsable">
      <wsdl:input message="tns:CambioResponsableSoapIn" />
      <wsdl:output message="tns:CambioResponsableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://intranet2.batz.es/SolicitudesCompra/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarPortadorCoste">
      <soap:operation soapAction="http://intranet2.batz.es/SolicitudesCompra/GuardarPortadorCoste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambioResponsable">
      <soap:operation soapAction="http://intranet2.batz.es/SolicitudesCompra/CambioResponsable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://intranet2.batz.es/SolicitudesCompra/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarPortadorCoste">
      <soap12:operation soapAction="http://intranet2.batz.es/SolicitudesCompra/GuardarPortadorCoste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambioResponsable">
      <soap12:operation soapAction="http://intranet2.batz.es/SolicitudesCompra/CambioResponsable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://intranet2.batz.es/solicitudescompra/webservice/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://intranet2.batz.es/solicitudescompra/webservice/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>