Trunk_4/ServicioEnovia/ServicioEnovia/Web References/EnoviaDesarrollo/BzWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://DefaultNamespace" targetNamespace="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://DefaultNamespace">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_soapenc_string">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="soapenc:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getMailGestorFromOFRequest">
    <wsdl:part name="in0" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getMailGestorFromOFResponse">
    <wsdl:part name="getMailGestorFromOFReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getInternalIndexListRequest">
    <wsdl:part name="in0" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getInternalIndexListResponse">
    <wsdl:part name="getInternalIndexListReturn" type="impl:ArrayOf_soapenc_string" />
  </wsdl:message>
  <wsdl:portType name="bzWebServices">
    <wsdl:operation name="getMailGestorFromOF" parameterOrder="in0">
      <wsdl:input name="getMailGestorFromOFRequest" message="impl:getMailGestorFromOFRequest" />
      <wsdl:output name="getMailGestorFromOFResponse" message="impl:getMailGestorFromOFResponse" />
    </wsdl:operation>
    <wsdl:operation name="getInternalIndexList" parameterOrder="in0">
      <wsdl:input name="getInternalIndexListRequest" message="impl:getInternalIndexListRequest" />
      <wsdl:output name="getInternalIndexListResponse" message="impl:getInternalIndexListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BzWebServicesSoapBinding" type="impl:bzWebServices">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getMailGestorFromOF">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getMailGestorFromOFRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getMailGestorFromOFResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInternalIndexList">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getInternalIndexListRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getInternalIndexListResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bzWebServicesService">
    <wsdl:port name="BzWebServices" binding="impl:BzWebServicesSoapBinding">
      <wsdlsoap:address location="http://zunbizanba.batz.es:7001/enovia/services/BzWebServices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>